body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  color: black;
}

.hlavicka {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-basis: 300px;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.michaela {
  display: flex;
  flex-basis: 600px;
  justify-content: center;
  align-items: center;
}
.michaela img {
  width: 200px;
  border-radius: 100px;
}

.michaela p {
  margin: 30px;
  width: 400px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.odkazy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kristyna {
  display: flex;
  flex-basis: 600px;
  justify-content: center;
  align-items: center;
}
.kristyna img {
  width: 200px;
  border-radius: 100px;
}

.kristyna p {
  margin: 30px;
  width: 400px;
}
